.container-center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #012A65 0%, #023980 100% );
}

.login{
    border-radius: 10px;
    background: #EAEAEC;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-area{
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    background-color: #1F2B47;
    width: 100%;
}

.login-area img{
    padding: 20px;
    width: 170px;
    height: 130px;
}

.login input {
    margin-bottom: 38px;
    height: 35px;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: #FFF;
}

form{
    margin-top: 1.5em;
    width: 90%;
    display: flex;
    flex-direction: column;
}

form h1{
    text-align: center;
    margin-bottom: 0.9em;
    color: #1F2B47;
}

form button{
    height: 35px;
    border: 0;
    border-radius: 10px;
    background-color: #1f2d47;
    color: #FFF;
    font-size: 1.3em;
}

.login a {
    margin: 1.5em 0;
    color: #1F2D47;
    cursor: pointer;
}