.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
    border-radius: 5px;
    background-color: #F8F8F8;
    padding: .8em;
}

.breadcrumbs span {
    margin-left: 1em;
    font-size: 1.5em;
}

.content {
    margin-left: 200px;
    padding: 1px 16px;
}

@media screen and (max-width: 700px) {
    div.content {
        margin-left: 0;
    }
}