@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: 0; 
}

html, body, #root{
    height: 100vh;
}

body {
    font: 14px "Roboto", sans-serif;
    background-color: #efefef;
}

a{
    text-decoration: none; /*Esse componente retira a linha abaixo dos links*/
}

ul{
    list-style: none; /*Tirar as bolinhas das listas*/
}

button{
    cursor: pointer; /*Aparecer o layout do mouser como click*/
}